@inherits LayoutComponentBase

<PageTitle>Blazing Blog</PageTitle>

<div style="display: flex; flex-direction: column; min-height: 100vh;">
    <TopNavBar  />
    <div style="flex-grow: 1;">
        
        
     @Body
    </div>
    
</div>
